<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}?v=1.6">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <title>Walk-in Watchdog</title>
</head>
<body class="h-screen overflow-hidden bg-zinc-900" >
    <div id="app" class="h-full"></div>
    <script src="{{url_for('static',filename='js/app.js')}}?v=1.6"></script>
</body>
</html>